@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

/* Change the appearance of code chunks */
d-article div.sourceCode code, 
d-article pre code {
  font-family      : 'Source Code Pro';
  color            : #383838;
  background       : #f7fcfd;
  font-weight      : 500;
  font-size        : 1em;
}

/* Change the appearance of in-line code segments */
code {
  font-family      : 'Source Code Pro';
  color            : #383838;
  background       : #f7fcfd;
  font-weight      : 500;
  font-size        : 0.9em;
}

/* Change the appearance of blog post title*/
d-title h1 {
    font-weight    : 900;
    text-transform : uppercase ;
    font-size      : 36px ;
    line-height    : 1.1em ;
    margin-top     : 20px ;
}

/* Change the appearance of blog post article titles*/
d-article h1 {
    font-weight    : 500;
}

/* Change the appearance of blog post article titles*/
d-article h2 {
    font-weight    : 500;
}

/* Change front page headers */
.posts-list h1 {
    font-weight    : 900;   
    text-transform : uppercase;
    font-size      : 36px;
  }

/* Change the appearance of front page post titles*/
.posts-list .post-preview h2 {
    font-weight    : 500;
}

/* Change bullets */
ul > li::marker {
    font-size      : 1.125em;
    color          : #37ACA1;
}

/* Change link appearance */
d-article a {
    border-bottom  : 2px solid #1D818C;
    text-decoration: none;
}

/* Change authors-affiliation into a wide column - not working? */
d-byline .authors-affiliations {
    grid-column-end: span 2;
    grid-template-columns: 100px 1px ;
    margin-bottom: 0.5em;
}