/* Change code chunk background */
d-code {
  font-family: 'Fira Mono', sans-serif;
  background: #37ACA1;
}

/* Change the appearance of in-line code chunks */
code {
  font-family: 'Fira Mono', sans-serif;
  color: #383838;
  background: #f7fcfd;
  font-weight: 500;
  font-size: 0.9em;
}